@media screen and (max-width: 1150px) {
    .menu-card-content .popup .popup-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-container {
        margin-bottom: 0.5rem;
    }

    .menu-card-content .popup .popup-content .ok-button {
        width: 200px;
    }
}
